* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #524133;
    --text-color: #36422e;
    --bg-color: #b8a28e;
}

img {
    width: 100%;
}

body {
    color: var(--text-color)
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15%/10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 800;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 400;
}

#search-icon {
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

#cart-icon {
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

.filter-container {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px px;
    background-color: var(--text-color);
}

#selectCategory {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 0.8rem;
    font-weight: 400;
}

#sorting {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 0.8rem;
    font-weight: 400;
}

#resetFilter {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 0.8rem;
    font-weight: 400;
}



.section-title {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.product-box {
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.product-description {
    color: var(--text-color);
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: var(--main-color);
}

.table-title {
    color: var(--text-color);
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}


.cart-items {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cart-items thead tr {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: left;
    font-weight: bold;
}

.cart-items th,
.cart-items td {
    padding: 12px 15px;
}

.cart-items tbody tr {
    border-bottom: 1px solid var(--main-color);
}

.cart-items tbody tr:nth-of-type(even) {
    background-color: var(--bg-color);
}

.cart-items tbody tr:last-of-type {
    border-bottom: 2px solid var(--main-color);
}